<form [formGroup]="inputForm" (ngSubmit)="dataSubmit()" >

  <label for="number-of-shops">number of shops: </label>
  <input id="number-of-shops" type="number" formControlName="numberOfShops" >
  <br>
  <label for="number-of-suppliers">number of suppliers: </label>
  <input id="number-of-suppliers" type="number" formControlName="numberOfSuppliers" >
  <br>
  <label for="total-resources">total resources (optional): </label>
  <input id="total-resources" type="number" formControlName="totalResources" >
  <br>
  <div class="alert alert-danger" role="alert" *ngIf="formError !== undefined">{{formError}}</div>
  <br>
  <mat-checkbox formControlName="nordOvestMethod" >Nord - Ovest</mat-checkbox>
  <br>
  <mat-checkbox formControlName="minimiCostiMethod" >Minimi costi</mat-checkbox>
  <br>
  <mat-checkbox formControlName="vogelMethod" >Vogel</mat-checkbox>
  <br>
  <mat-checkbox formControlName="russelMethod" >Russel</mat-checkbox>
  <br>
  <br>
  <button class="button" type="submit">submit</button>

</form>

<br>
<app-data-elaboration *ngIf="nordOvestMethodFlag" [formInput]="toChildForm"></app-data-elaboration>

<br>
<app-minimi-costi *ngIf="minimiCostiMethodFlag" [formInput]="toChildForm"></app-minimi-costi>
