<form [formGroup]="inputForm" (ngSubmit)="dataSubmit()" *ngIf="!execNO && !execVogel && !execMM" >

  <label for="number-of-shops">number of shops: </label>
  <input id="number-of-shops" type="number" formControlName="numberOfShops" >
  <br>
  <label for="number-of-suppliers">number of suppliers: </label>
  <input id="number-of-suppliers" type="number" formControlName="numberOfSuppliers" >
  <br>
  <label for="total-resources">total resources: </label>
  <input id="total-resources" type="number" formControlName="totalResources" >
  <br>
  <div class="alert alert-danger" role="alert" *ngIf="formError !== undefined">{{formError}}</div>
  <br>
  <mat-checkbox formControlName="nordOvestMethod" >Nord - Ovest</mat-checkbox>
  <br>
  <mat-checkbox formControlName="minimiCostiMethod" >Minimi costi</mat-checkbox>
  <br>
  <mat-checkbox formControlName="vogelMethod" >Vogel</mat-checkbox>
  <br>
  <mat-checkbox formControlName="russelMethod" *ngIf="false">Russel</mat-checkbox>
  <br>
  <br>
  <button class="button" type="submit">submit</button>

</form>

<br>
<app-data-elaboration *ngIf="nordOvestMethodFlag" [formInput]="toChildForm" (eoe)="getNOflag($event)"></app-data-elaboration>

<br>
<app-minimi-costi *ngIf="minimiCostiMethodFlag" [formInput]="toChildForm" (eoe)="getMMflag($event)"></app-minimi-costi>

<br>
<app-vogel *ngIf="vogelMethodFlag" [formInput]="toChildForm" (eoe)="getVflag($event)"></app-vogel>
